.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 60%;
    height: 100%;
    left: 0;
    top: 66px;
    z-index: 200;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.12);
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    padding: 32px 16px;
}

@media (max-width: 840px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Closed{
    transform: translateX(-100%);
}