.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    border-bottom: 1.5px solid #f4c814;
    background-color: #eee;
}